<!-- src/main/resources/templates/forgot-password.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

    <div class="login-container">
        <div class="login-heading">
            <h2>Forgot Password</h2>
        </div>

        <!-- Forgot Password form -->
        <form id="forgotPasswordForm">
            <label for="gmail">Gmail:</label>
            <input type="text" id="gmail" name="gmail" required autofocus/>

            <button type="button" onclick="resetPassword()">Reset Password</button>
        </form>

        <p>Remember your password? <a href="/login">Login here</a></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function resetPassword() {
            var gmail = $('#gmail').val();

            $.ajax({
                type: 'POST',
                url: '/reset-password',
                data: {
                    gmail: gmail
                },
                success: function (data) {
                    if (data.hasOwnProperty('success')) {
                        // Show SweetAlert for successful password reset
                        Swal.fire({
                            icon: 'success',
                            title: 'Password Reset Successful!',
                            text: 'Check your email for further instructions.',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/login';
                            }
                        });
                    } else {
                        // Show SweetAlert for unsuccessful password reset
                        Swal.fire({
                            icon: 'error',
                            title: 'Password Reset Failed',
                            text: data.error,
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function () {
                    // Show SweetAlert for unexpected errors
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An unexpected error occurred',
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: 'OK'
                    });
                }
            });
        }
    </script>

</body>
</html>

